body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*journal*/
/* Journal Section */
.journal-section {
    padding: 40px 20px;
    background-color: #fff;
    text-align: left;
    max-width: 1200px;
    margin: 80px auto 20px;
 
  }

  h2 {
    font-size: 3.5em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    padding-top: 40px;
    margin-top: 0;
    
  }

  h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #f39c12; /* Accent line under heading */
    margin: 10px auto 0;
    margin-top: 0;
  }
  
  .journal-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
  }
  
  .journal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .journal-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .journal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .journal-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .journal-card p {
    font-size: 1em;
    color: #666;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .journal-section {
      padding: 20px 10px;
    }
  
    .journal-section h2 {
      font-size: 1.8em;
    }
  
    .journal-card h3 {
      font-size: 1.3em;
    }
  
    .journal-card p {
      font-size: 0.9em;
    }
  }