.footer {
  background-color: #292929;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.footer-line {
  border: 1px solid #555;
  margin-bottom: 20px;
}

.footer-details {
  margin-bottom: 30px;
  line-height: 50px;
}

.detail-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.detail-item i {
  margin-right: 10px;
  color: #f39c12;
}

.detail-item p {
  margin: 0;
  font-size: 0.9em;
  color: #ccc;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Increased horizontal distance */
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f39c12;
}

.vertical-line {
  width: 1px;
  height: 15px;
  background-color: #555;
}

.copyright-section {
  font-size: 0.8em;
  color: #ccc;
  margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-nav {
    flex-direction: column;
    gap: 10px; /* Reset gap for mobile */
  }

  .vertical-line {
    display: none; /* Hide vertical lines on mobile */
  }
}

/*outreach*/
/* Dropdown Menu */
/*.drop-down {
  position: relative;
}

.drop-down-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.drop-down-menu li {
  margin: 0;
}

.drop-down-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  padding: 5px 10px;
  display: block;
}

.drop-down-menu li a:hover {
  background-color: #f39c12;
  color: #fff;
}

.drop-down:hover .drop-down-menu {
  display: block;
}











